.me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.about {
    margin-left: 30%;
    margin-top: 20vh;
    width: 50%;
    display: flex;
}

.about p {
    color: rgb(75, 75, 75);
    font-size: 18px;
    z-index: 9;
}