.me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.about {
    display: flex;
    margin-left: 30%;
    /*
    margin-top: 20vh;
    background-color: rgb(69, 55, 129);
    */
    margin-top: 20vh;
    width: 50%;
    min-height: 80vh;
}

.about p {
    color: rgb(75, 75, 75);
    font-size: 1.2em;
    z-index: 9;
}