.me {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.about {
    display: flex;
    margin: auto;
    margin-top: 20vh;
    width: 50%;
    min-height: 80vh;
}

.about p {
    color: rgb(75, 75, 75);
    font-size: 1.2em;
    z-index: 9;
}