.iconWhite {
    color: white;
    font-size: 4em;
    margin: 20px
}

.footer {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.file {
    font-size: 3.6em;
    margin-top: 23px;
}