.projectSection {
    background-color: white;
}

.sectionTitle {
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}

/*carousel 1*/
.c1 {
    width: 512px !important;
    height: 288px !important;
    margin-left: auto;
    margin-right: 30px;
}

.ci1 { 
    width: 512px !important;
    height: 288px !important;  
}

/*carousel 2*/
.c2 {
    width: 460px !important;
    height: 288px !important;
    margin-left: auto;
    margin-right: 30px;
}

.ci2 { 
    width: 460px !important;
    height: 288px !important;  
}

/*carousel 3*/
.c3 {
    width: 400px !important;
    height: 288px !important;
    margin-left: auto;
    margin-right: 30px;
}

.ci3 { 
    width: 400px !important;
    height: 288px !important;  
}

/*carousel 4*/
.c4 {
    width: 460px !important;
    height: 288px !important;
    margin-left: auto;
    margin-right: 30px;
}

.ci4 { 
    width: 460px !important;
    height: 288px !important;  
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='coral' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='coral' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    height: 1.2em !important;
    width: 1.2em !important;
    border-radius: 50% !important;
    background-color: coral !important;
}

.carousel-indicators {
    bottom: -50px !important;
}

.project {
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    width: 80%;
}

.projDesc {
    width: 50%;
    margin-left: auto;
}

.projDesc h1 {
    font-size: 2em;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.projDesc p {
    color: rgb(68, 66, 66);
    font-size: 1.1em;
}

.projDesc ul {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.icon {
    color:rgb(29, 20, 20);
    cursor: pointer;
}

.link {
    margin-left: 15px;
}

ul {
    list-style-type: circle;
}


/*
to do



change width of .project for large screen
make it smaller
*/

.iconsRow {
    display: flex;
}

/*this allows the tooltip to be close*/
.overlayContainer {
    position: relative;
}

/*remove underline on the tooltip*/
#tooltip *:hover {
    text-decoration: none !important;
}


@media (max-width: 1400px) 
{
    .project {
        width: 85%;
    }
}

@media (max-width: 1300px) 
{
    .project {
        width: 90%;
    }
}

@media (max-width: 1200px) 
{
    .project {
        width: 95%;
    }

}

/*carousel will be 10% smaller*/
@media (max-width: 1150px) 
{
    /*carousel 1*/
    .c1 {
        width: 460px !important;
        height: 259px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci1 { 
        width: 460px !important;
        height: 259px !important;  
    }
    
    /*carousel 2*/
    .c2 {
        width: 414px !important;
        height: 259px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci2 { 
        width: 414px !important;
        height: 259px !important;  
    }
    
    /*carousel 3*/
    .c3 {
        width: 360px !important;
        height: 259px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci3 { 
        width: 360px !important;
        height: 259px !important;  
    }
    
    /*carousel 4*/
    .c4 {
        width: 414px !important;
        height: 259px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci4 { 
        width: 414px !important;
        height: 259px !important;  
    }
}

@media (max-width: 1000px) 
{
    .projDesc {
        width: 60%;
    }

    /*carousel 1*/
    .c1 {
        width: 414px !important;
        height: 233px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci1 { 
        width: 414 !important;
        height: 233px !important;  
    }
    
    /*carousel 2*/
    .c2 {
        width: 372px !important;
        height: 233px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci2 { 
        width: 372px !important;
        height: 233px !important;  
    }
    
    /*carousel 3*/
    .c3 {
        width: 324px !important;
        height: 233px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci3 { 
        width: 324px !important;
        height: 233px !important;  
    }
    
    /*carousel 4*/
    .c4 {
        width: 372px !important;
        height: 233px !important;
        margin-left: auto;
        margin-right: 20px;
    }
    
    .ci4 { 
        width: 372px !important;
        height: 233px !important;  
    }
}