.sectionHeading {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.skillsList {
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 10%;
}

.skillName {
    text-align: center;
    font-size: 1em;
}

.skillCard:hover {
    transform: scale(1.1);
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .square-animation {
      animation: wipe-enter 1s 1;
    }
}


/*
to make mobile friendly, make the card smaller and add to new line
you can do this by centering it and flex wrap
*/